DATABASE_URL="postgresql://neondb_owner:npg_t2REPg7AxmGN@ep-small-wildflower-aq66un2j-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_t2REPg7AxmGN@ep-small-wildflower-aq66un2j-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
APP_SECRET="clinic-secret-2026"
AI_PROVIDER="local"
NEXT_PUBLIC_API_URL=""